body {
  font-size: 15px;
  background-color: cornflowerblue;
}


@import url('https://fonts.googleapis.com/css2?family=Anta&family=Cantora+One&display=swap');



.primero {
  margin-top: 50px;
  font-family: 'Cantora One', cursive;
  front-weight: 400;
  front-size: 40px;
}

.segundo {
  margin-top: 50px;
  font-family: 'Cantora One', cursive;
  front-weight: 400;
  front-size: 40px;
}










</html1>
