<link rel="stylesheet" href="/style.css">
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Kalam:wght@300;400;700&family=Lilita+One&display=swap')


/* Estilos Generales */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Barra de Navegación */
nav {
    background-color: #333;
    color: white;
    padding: 15px;
}

.nav-logo {
    font-size: 2em;
    font-weight: bold;
    color: white;
}

.nav-links {
    list-style: none;
    display: flex;
}

.link {
    margin-right: 20px;
}

.link a {
    text-decoration: none;
    color: darkgray;
    font-weight: bold;
    transition: color 0.3s ease;
}

.link a:hover {
    color: #ffd700;
}

/* Encabezado */
header {
    text-align: center;
    padding: 20px 0; /* Ajusté el padding para una mejor presentación */
    background-color: darkorange;
}

.primero {
    font-size: 3em;
    color: black;
}

/* Secciones */
section {
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
    background-color: #333;
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.segundo {
    color: darkorange;
}

/* Imágenes */
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px 0;
    border-radius: 5px;
}

/* Lista */
ul {
    list-style-type: disc;
    margin-bottom: 20px;
}

/* Pie de Página */
footer {
    background-color: #48a9a6;
    color: white;
    text-align: center;
    padding: 20px 0;
}

/* Formulario de Suscripción */
.subscribe-form {
    margin-top: 20px;
}

input[type="email"] {
    padding: 10px;
    width: 60%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Botón */
.btn {
    background-color: #ffd700;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #ffa500;
}
